@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "SMS IMS Administration Home Page";
}
<script>
    //alert('Home Admin');
    //hideShield();
    //alert('done');
</script>

<div ng-view></div>
