@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Marketing Reference";
}
@section Scripts {
    <script src="~/ng-Scripts/MarketingReferenceModule.js"></script>
}

<style>
    .tbl td {
        border: 1px solid black;
    }
</style>

@*<span class="pageTitle">Manage Marketing References</span>
<br />*@<br />
<form ng-app="adminModule1" ng-controller="marketingreferenceController"
      name="myForm" novalidate>
    <div id="dvListing" style="height: 520px">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Marketing Reference" ng-model="search.MarketingReferenceName" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <div style="width:inherit;height:490px; overflow-y:auto;"><table border="0" class="listing">
            <thead>
                <tr>
                    <td colspan="4" class="TableSubHeader">Marketing Reference</td>
                </tr>
            </thead>
            <tr ng-repeat="obj in listData | filter: search" ng-class="{selected: (obj.MarketingReferenceCode == selectedObject.MarketingReferenceCode && obj.CompanyCode == selectedObject.CompanyCode)}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)">
                <td>{{obj.MarketingReferenceName}}</td>
            </tr>
        </table>
        </div>
        <span ng-hide="listData">@*Loading, please wait...*@</span>
    </div>
    <div id="dvFormContainer" class="DetailPage">
        <table style="width: 850px">
            <tr>
                <td colspan="4" class="TableHeader">Manage Marketing Reference</td>
            </tr>
            <tr>
                <td class="FormCaptionLeft" style="width: 150px;">Name<span class="required">*</span></td>
                <td class="FormTableContainer" colspan="3">
                    <input name="MarketingReferenceName" type="text" ng-model="selectedObject.MarketingReferenceName" dosbox="true" style="width: 300px" class="InputBoxes" maxlength="50" required />
                    <span style="color:red" ng-show="myForm.MarketingReferenceName.$dirty && myForm.MarketingReferenceName.$invalid">
                        <span ng-show="myForm.MarketingReferenceName.$error.required"></span>
                    </span>
                   
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft">Short Name<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <input name="ShortName" type="text" ng-model="selectedObject.ShortName" dosbox="true" style="width: 300px" class="InputBoxes" maxlength="10" required />
                    <span style="color:red" ng-show="myForm.ShortName.$dirty && myForm.ShortName.$invalid">
                         
                    </span>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft">Status<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <select ng-model="selectedObject.Status" id="status" dosbox="true" style="width: 300px" class="ComboBoxesFlexible">
                        <option value="true" ng-selected="selectedObject.Status==true">Active</option>
                        <option value="false" ng-selected="selectedObject.Status==false">In-Active</option>
                    </select> 
                </td>
            </tr>
            <tr>
                <td colspan="4" class="TableHeader">
                    <div style="float: right">
                        <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                               dosbox="true" ng-disabled="isValid()" class="Buttons" />
                        <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="selectedObject.MarketingReferenceName && selectedObject.ShortName && isEditMode"
                               dosbox="true" class="Buttons" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div ng-show="saveError">
                        <div style="color:green;">
                            {{ saveError }}
                        </div>
                    </div>
                    <div ng-show="listError">
                        <div style="color:red">
                            {{ listError }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>