@model  SmsMis.Models.Console.Client.StudentFixedScholarship
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "Manage Branch";
}
@section Scripts {
    <script src="~/ng-Scripts/StudentFixedScholarshipModule.js"></script>
    <link href="~/design/Default.css" rel="stylesheet" />
}

<style>
    .tbl td {
        border: 1px solid black;
    }
     #dvListingCustom {
    float: left;
    width: 530px;
    height: 600px;
    border: 1px solid #5987bf;
    margin-right: 10px;
    padding: 3px;
    overflow:auto;
}
</style>



<form ng-app="clientModule1" ng-controller="studentFixedScholarshipController"
      name="myForm" novalidate>
    <div id="dvListingCustom">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Name" autocomplete="off" ng-model="search" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" class="Buttons" /></td>
                </tr>
            </table>
        </div>
        <table border="1" class="listing">
            <thead>
                <tr>
                    <th width="25px">RollNo</th>
                    <th width="100px">Class</th>
                    <th width="300px">Name</th>
                    <th width="100px">Scholarship</th>
                </tr>
            </thead>
            <tr ng-repeat="obj in filteredArray| filter:{FullName:search}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)">
                <td>{{obj.StudentRollNo}}</td>
                <td>{{obj.ClassName}}</td>
                <td>{{obj.FullName}}</td>
                <td align="center">{{obj.Scholarship}}</td>
            </tr>
        </table>
        <span ng-hide="listData">@*Loading, please wait...*@</span>
    </div>
    <div id="dvFormContainer" class="DetailPage">
        <table>
            <tr>
                <td>
                    <table style="width: 470px">
                        <tr>
                            <td class="TableHeader">Student Fixed Scholarship</td>
                        </tr>
                        
                        <tr id="trCompanyInfo">
                            <td>
                                <table style="width: 100%" class="FormTable" cellspacing="1" cellpadding="2" border="0">
                                    <tr>
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Company</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <select id="companyCode" ng-model="selectedObject.CompanyCode" ng-change="getCompanyWise()" ng-options="obj.CompanyCode as obj.CompanyName for obj in listCompany" class="ComboBoxesFlexible" dosbox="true"></select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Branch</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <select id="BranchCode" ng-model="selectedObject.BranchCode" ng-change="showGrid()" ng-options="obj.BranchCode as obj.BranchName for obj in listBranch | filter: {CompanyCode: selectedObject.CompanyCode}" class="ComboBoxesFlexible" ng-disabled="!selectedObject.CompanyCode" dosbox="true"></select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Session</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <select id="SessionCode" ng-model="selectedObject.SessionCode" ng-change="showGrid()" ng-options="obj.SessionCode as obj.SessionName for obj in listSession | filter: {CompanyCode: selectedObject.CompanyCode}" class="ComboBoxesFlexible" ng-disabled="!selectedObject.BranchCode" dosbox="true"></select>

                                        </td>
                                    </tr>
                                    <tr style="display:none">
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Student</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <select id="studentCode" ng-model="selectedObject.StudentNo" ng-options="obj.StudentNo as obj.FullName for obj in listStudent | filter: {CompanyCode: selectedObject.CompanyCode,BranchCode: selectedObject.BranchCode,SessionCode: selectedObject.SessionCode}: true" class="ComboBoxesFlexible" ng-disabled="!selectedObject.SessionCode " dosbox="true">
                                                
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Scholarship (%)</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <input type="text" ng-model="selectedObject.ScholarshipPercentage" class="numberinput" maxlength="3" ng-disabled="!selectedObject.StudentNo" />

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%" class="FormCaptionLeft">
                                            <span class="requiredCaption">Scholarship</span>
                                            <span class="required">*</span>
                                        </td>
                                        <td style="width:49%" class="FormTableContainer">
                                            <input type="text" ng-model="selectedObject.ScholarshipAmount" class="numberinput" maxlength="7" ng-disabled="!selectedObject.StudentNo" />

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="TableHeader">
                            <td align="right" style="padding-right:5px;">
                                <input type="submit" id="btnSumbit" value="Save" ng-click="save();" dosbox="true" class="Buttons" />
                                <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="isEditMode" dosbox="true" class="Buttons" />

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div ng-show="saveError">
                                    <div style="color:green">
                                        {{ saveError }}
                                    </div>
                                </div>
                                <div ng-show="listError">
                                    <div style="color:red">
                                        {{ listError }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">
    $(".numberinput").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 46) {
            return false;
        } 

    });

</script>
