@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Subject";
}
@section Scripts {
    <script src="~/ng-Scripts/SubjectModule.js"></script>
}

<style>
    .tbl td {
        border: 1px solid black;
    }

</style>

@*<span class="pageTitle">Manage Subjects</span>
<br />*@<br />
<form ng-app="adminModule1" ng-controller="subjectController"
      name="myForm" novalidate>
    <div id="dvListing" style="height: 520px">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Subject" ng-model="search.SubjectName" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <div style="width:inherit;height:490px; overflow-y:auto;"><table border="0" class="listing">
                <thead>
                    <tr>
                        <td colspan="4" class="TableSubHeader">Subject</td>
                    </tr>
                </thead>
                <tr ng-repeat="obj in listData | filter: search" ng-class="{selected: (obj.SubjectCode == selectedObject.SubjectCode && obj.CompanyCode == selectedObject.CompanyCode)}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)">
                    <td>{{obj.SubjectName}}</td>
                </tr>
            </table>
        </div>
        <span ng-hide="listData">@*Loading, please wait...*@</span>
    </div>
    <div id="dvFormContainer" class="DetailPage">
        <table style="width: 850px">
            <tr>
                <td colspan="4" class="TableHeader">Manage Subjects</td>
            </tr>
            <tr>
                <td style="width: 150px;" class="FormCaptionLeft">Name<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <input name="SubjectName" type="text" ng-model="selectedObject.SubjectName" dosbox="true" style="width: 300px" required class="InputBoxes" />
                    <span style="color:red" ng-show="myForm.SubjectName.$dirty && myForm.SubjectName.$invalid">
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;" class="FormCaptionLeft">Short Name<span class="required">*</span></td>
                <td colspan="3" class="FormTableContainer">
                    <input name="ShortName" type="text" ng-model="selectedObject.ShortName" dosbox="true" style="width: 300px" required class="InputBoxes" />
                    <span style="color:red" ng-show="myForm.ShortName.$dirty && myForm.ShortName.$invalid">
                        
                    </span>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft">Status<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <select ng-model="selectedObject.Status" id="status" class="ComboBoxesFlexible" dosbox="true" style="width: 300px">
                        <option value="true" ng-selected="selectedObject.Status==true">Active</option>
                        <option value="false" ng-selected="selectedObject.Status==false">In-Active</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="TableHeader">
                    <div style="float: right">
                        <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                               class="Buttons" dosbox="true" ng-disabled="isValid()" />
                        <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="isEditMode"
                               class="Buttons" dosbox="true" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div ng-show="saveError">
                        <div style="color:green;">
                            {{ saveError }}
                        </div>
                    </div>
                    <div ng-show="listError">
                        <div style="color:red">
                            {{ listError }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>