@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Types";
}
@section Scripts {
    <script src="~/ng-Scripts/TypeModule.js"></script>
}

<style>
    .tbl td {
        border: 1px solid black;
    }
</style>

@*<span class="pageTitle">Manage Types</span>
    <br />*@<br />
<form ng-app="adminModule1" ng-controller="typeController"
      name="myForm" novalidate>
    <div id="dvListing" style="height: 520px">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Types" autocomplete="off" ng-model="search.TypeName" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <div style="width:inherit;height:490px; overflow-y:auto;">
            <table border="0" class="listing">
                <thead>
                    <tr>
                        <td colspan="4" class="TableSubHeader">Types</td>
                    </tr>
                </thead>
                <tr ng-repeat="obj in listData | filter: search" ng-class="{selected: (obj.TypeCode == selectedObject.TypeCode && obj.CompanyCode == selectedObject.CompanyCode)}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)" ng-show="selectedObject.CompanyCode">
                    <td>{{obj.TypeName}}</td>
                </tr>
            </table>
        </div>
        <span ng-hide="listData">@*Loading, please wait...*@</span>
    </div>
    <div id="dvFormContainer" class="DetailPage">
        <table style="width: 550px">
            <tr>
                <td colspan="4" class="TableHeader">Manage Types</td>
            </tr>
            <tr>
                <td class="FormCaptionLeft" style="width: 150px;">Company<span class="required">*</span></td>
                <td class="FormTableContainer" colspan="3">
                    <select id="companyCode" ng-model="selectedObject.CompanyCode" ng-options="objCom.CompanyCode as objCom.CompanyName for objCom in listCompany" class="ComboBoxesFlexible" dosbox="true" ng-change="CompanyCode_Change()" style="width: 300px">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft" style="width: 150px;">Name<span class="required">*</span></td>
                <td class="FormTableContainer" colspan="3">
                    <input name="TypeName" type="text" ng-model="selectedObject.TypeName" maxlength="50" dosbox="true" style="width: 300px" class="InputBoxes" required />
                    <span style="color:red" ng-show="myForm.TypeName.$dirty && myForm.TypeName.$invalid">
                        <span ng-show="myForm.TypeName.$error.required"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft">Short Name<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <input name="ShortName" type="text" ng-model="selectedObject.ShortName" maxlength="10" dosbox="true" style="width: 300px" class="InputBoxes" required />
                    <span style="color:red" ng-show="myForm.ShortName.$dirty && myForm.ShortName.$invalid">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft" style="width: 150px;">Status<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <select ng-model="selectedObject.Status" id="status" dosbox="true" style="width: 300px" class="ComboBoxesFlexible">
                        <option value="true" ng-selected="selectedObject.Status==true">Active</option>
                        <option value="false" ng-selected="selectedObject.Status==false">In-Active</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft" style="width: 150px;vertical-align:top">Branches<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <div style="width:inherit;height:150px; overflow-y:auto;">
                        <table border="0" class="listing">
                            <tr ng-repeat="obj in listBranch | filter: {CompanyCode: selectedObject.CompanyCode}" ng-show="selectedObject.CompanyCode">
                                <td>
                                    <label><input type="checkbox" ng-model="obj.isSelected" />{{obj.BranchName}}</label>
                                </td>
                            </tr>
                        </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="TableHeader">
                    <div style="float: right">
                        <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                               dosbox="true" ng-disabled="isValid()" class="Buttons" />
                        <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="isEditMode"
                               dosbox="true" class="Buttons" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div ng-show="saveError">
                        <div style="color:green;">
                            {{ saveError }}
                        </div>
                    </div>
                    <div ng-show="listError">
                        <div style="color:red">
                            {{ listError }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>