
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>View</h2>
@section Scripts {
    <script src="~/ng-Scripts/VoucherMasterModule.js"></script>
    <link href="~/design/Default.css" rel="stylesheet" />

}

