@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Administration Console";
  }
@section Scripts {
<script src="~/ng-Scripts/BranchModule.js"></script>
}
<span class="pageTitle">Manage Branches</span>

<br /><br />
<div ng-app="adminModule" ng-controller="branchesController">
    <div id="dvListing">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Branches" ng-model="search.Name"    /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <table border="0" class="listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                </tr>
            </thead>            
            <tr ng-repeat="obj in listData| filter: search" ng-class="{selected: obj.BranchID == selectedObject.BranchID}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)">
                <td>{{obj.Name}}</td>
                <td>{{obj.Region}}</td>
            </tr>
        </table>
        <span ng-hide="!isListLoaded">Loading, please wait...</span>
    </div>
    <div id="dvFormContainer">
        <table>
            <tr>
                <td>Branch Name</td>
                <td><input type="text" id="Name" ng-model="selectedObject.Name" class="form-control" dosbox="true" />
                    <input type="hidden" id="ID" ng-model="selectedObject.BranchID" />
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" id="Description" ng-model="selectedObject.Description" class="form-control" dosbox="true" /></td>
            </tr>
            <tr>
                <td>Region</td>
                <td>
                    <select ng-model="selectedObject.comRegions" id="Region" ng-options="comRegions.Name for comRegions in regions track by comRegions.RegionID" class="form-control" dosbox="true"></select>
                </td>
            </tr>
            <tr>
                <td>Departments</td>
                <td>

                    @*<select ng-model="selectedObject.comDe" id="BranchID" ng-options="comBranches.Name for comBranches in branches track by comBranches.BranchID" class="form-control" dosbox="true"></select>*@

                    <table>
                        <tr ng-repeat="br in departmentsCopy">
                            <td>
                                <input type="checkbox" ng-model="br.isSelected" id="chk_{{br.DepartmentID}}" name="chk_{{br.DepartmentID}}" value="{{br.DepartmentID}}" />
                                <label>{{br.Name}}</label>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                           class="btn btn-default" dosbox="true" />
                    <input type="submit" id="btnDelete" value="Delete" ng-click="delete();"
                           class="btn btn-default" ng-disabled="!isEditMode" dosbox="true" />
                    <div ng-show="saveError">Data could not be modified: {{ saveError }}</div>
                </td>
            </tr>
        </table>

    </div>
    <div ng-show="listError">
        List data could not be loaded: {{listError}}
    </div>
</div>