@model  SmsMis.Models.Console.Admin.comDepartments
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Departments";
}
@section Scripts {
    <script src="~/ng-Scripts/DepartmentsModule.js"></script>
}

<span class="pageTitle">Manage Departments</span>
<br /><br />
<div ng-app="adminModule" ng-controller="departmentController">
    <div id="dvListing">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Departments" ng-model="search.Name" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <table border="0" class="listing">
            <thead>
                <tr>
                    <th>@Html.LabelFor(m => m.Name)</th>
                    <th>@Html.LabelFor(m => m.Description)</th>
                </tr>
            </thead>
            <tr ng-repeat="obj in listData | filter: search" ng-class="{selected: obj.DepartmentID == selectedObject.DepartmentID}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj.DepartmentID)">
                <td>{{obj.Name}}</td>
                <td>{{obj.Description}}</td>
            </tr>
        </table>
        <span ng-hide="listData">Loading, please wait...</span>
    </div>
    <div id="dvFormContainer">
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td><input id="Name" type="text" ng-model="selectedObject.Name" dosbox="true" /></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Description)</td>
                <td><input id="Description" type="text" dosbox="true" ng-model="selectedObject.Description" /></td>
            </tr>
            <tr>
                <tr>
                <td>Operations</td>
                <td>
                    
                    <table>
                        <tr ng-repeat="op in Operations">
                            <td>
                                <input type="checkbox" ng-model="op.isSelected" id="chk_{{op.OperationID}}" name="chk_{{op.OperationID}}" value="{{op.OperationID}}" />
                                <label>{{op.Name}}</label>
                            </td>
                        </tr>
                    </table>

                </td>

            </tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                           class="btn btn-default" dosbox="true" />
                    <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-disabled="!isEditMode"
                           class="btn btn-default" dosbox="true" />
                    <div ng-show="saveError">
                        Data could not be modified: {{ saveError }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="listError">
        Data could not be loaded: {{ listError }}
    </div>
</div>