@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Designation";
}
@section Scripts {
    <script src="~/ng-Scripts/DesignationModule.js"></script>
}

<style>
    .tbl td {
        border: 1px solid black;
    }
</style>

@*<span class="pageTitle">Manage Classs</span>
<br />*@<br />
<form ng-app="adminModule1" ng-controller="designationController"
      name="myForm" novalidate>
    <div id="dvListing">
        <div id="dvSearch">
            <table border="0">
                <tr>
                    <td><input type="search" placeholder="Search Company" ng-model="search.DesignationName" /></td>
                    <td><img src="~/images/actions/add.png" style="cursor:pointer;" ng-click="clear();" /></td>
                </tr>
            </table>
        </div>
        <table border="0" class="listing">
            <thead>
                <tr>
                    <td colspan="4" class="TableSubHeader">Designation</td>
                </tr>
            </thead>
            <tr ng-repeat="obj in listData | filter: search" ng-class="{selected: (obj.DesignationCode == selectedObject.DesignationCode && obj.CompanyCode == selectedObject.CompanyCode)}" class="ng-class-even: 'even'; ng-class-odd: 'odd';" ng-click="load(obj)" ng-show="selectedObject.CompanyCode">
                <td>{{obj.DesignationName}}</td>
            </tr>
        </table>
        <span ng-hide="listData">@*Loading, please wait...*@</span>
    </div>
    <div id="dvFormContainer" class="DetailPage">
        <table style="width: 850px">
            <tr>
                <td colspan="4" class="TableHeader">Manage Designation</td>
            </tr>
            <tr>
                <td style="width: 150px" class="FormCaptionLeft">Company<span class="required">*</span></td>
                <td colspan="3" class="FormTableContainer">
                    <select id="companyCode" ng-model="selectedObject.CompanyCode" ng-options="objCom.CompanyCode as objCom.CompanyName for objCom in listCompany" class="ComboBoxesFlexible" dosbox="true" ng-change="CompanyCode_Change()" ng-disabled="isEditMode" style="width: 300px">
                        <option value=""></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;" class="FormCaptionLeft">Name<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <input name="DesignationName" type="text" ng-model="selectedObject.DesignationName" dosbox="true" style="width: 300px" class="InputBoxes" required />
                    <span style="color:red" ng-show="myForm.DesignationName.$dirty && myForm.DesignationName.$invalid">
                        <span ng-show="myForm.DesignationName.$error.required"></span>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 150px;" class="FormCaptionLeft">Short Name<span class="required">*</span></td>
                <td colspan="3" class="FormTableContainer">
                    <input name="ShortName" type="text" ng-model="selectedObject.ShortName" dosbox="true" style="width: 300px" class="InputBoxes" required />
                    <span style="color:red" ng-show="myForm.ShortName.$dirty && myForm.ShortName.$invalid">
                    </span>
                </td>
            </tr>
            <tr>
                <td class="FormCaptionLeft">Status<span class="required">*</span></td>
                <td class="FormTableContainer">
                    <select ng-model="selectedObject.Status" id="status" dosbox="true" class="ComboBoxesFlexible" style="width: 300px">
                        <option value="true" ng-selected="selectedObject.Status==true">Active</option>
                        <option value="false" ng-selected="selectedObject.Status==false">In-Active</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="TableHeader">
                    <div style="float: right">
                        <input type="submit" id="btnSumbit" value="Save" ng-click="save();"
                               class="Buttons" dosbox="true" ng-disabled="isValid()" />
                        <input type="submit" id="btnDelete" value="Delete" ng-click="delete();" ng-show="isEditMode"
                               class="Buttons" dosbox="true" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div ng-show="saveError">
                        <div style="color:green;">
                            {{ saveError }}
                        </div>
                    </div>
                    <div ng-show="listError">
                        <div style="color:red">
                            {{ listError }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="listError">
        <div style="color:red">
            {{ listError }}
        </div>
    </div>
</form>